@import "./normalize.css";


html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

:root {
  --color: #666;
  --font-size: 14px;
  --line-height: 1.2;
}

::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
